[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cobra = "*"
biopython = "*"
bioservices = "*"
memote = "==0.11.1"
escher = "*"
pandas = "*"
numpy = "*"
pyyaml = "*"

[dev-packages]
autopep8 = "*"
ipykernel = "*"

[requires]
python_version = "3.9"
